body {


background: #E8CBC0; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #E8CBC0 , #636FA4); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #E8CBC0 , #636FA4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
}

.menu {
	border-radius: 0 !important;
}

.task-container {
	height: 520px;
	overflow-y: scroll;
}

.edit-container {
	height: 250px;
}

.form-container {
	height: 250px;
}

.schedule-container {
	height: 200px;
}

.schedule {
	text-align: center;
	font-size: 16px;
}

.header-button {
	
}